.App {
    background: #e6e6e6;
    overflow: auto;
}

input {
    outline: 0;
    border-color: #565555;
}

input:focus {
    border-color: #000000;
}


.infinite-scroll-component__outerdiv {
    height: 100%;
}

.infinite-scroll-component__outerdiv > .infinite-scroll-component {
    height: 100% !important;
}